@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
body {
    margin: 0; line-height: normal;
}
.main {
    display: flex;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    height: 100vh;
    overflow: auto;
    text-align: left;
    font-size: 16px;
    color: #1c1c1f;
    font-family: 'DM Sans', sans-serif;
}
.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16rem;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sidebarIcon {
    width: 20px;
    height: 20px;
    position: relative;
}
.sidebarIconSelected {
    fill: #1c4b80;
}
.dashboard {
    position: relative;
    line-height: 20px;
    font-weight: 500;
}

.component1 {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    background-color: #ffffff;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    gap: 8px;
    transition: background-color 120ms ease;
}
.component1:hover {
    background-color: #f0f4f5;
    cursor: pointer;
}
.selected {
    background-color: #f0f4f5;
    color: #1c4b80;
    fill: #1c4b80;
}
.sidebar {
    display: block;
    border-right: 1px solid #e2e2e2;
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    color: #666;

}
.sidebarComponentParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    width: auto;
}
.navbar {
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    width: 100%;
    height: 68px;
    padding: 14px 16px 14px 40px;
    border-bottom: 1px solid #e2e2e2;
}
.headerTitle {
    position: relative;
    padding: 4px;
    font-size: 20px;
    color: #1c1c1f;
}
.searchbarParent {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    gap: 40px;
}
.searchbar {
    line-height: 20px;
    backdrop-filter: blur(28px);
    border-radius: 100px;
    background-color: #1c4b80;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    padding: 12px 24px 12px 28px;
    gap: 4px;
}
.addIcon {
    width: 20px;
    height: 20px;
    position: relative;
}
.profileIconParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.profileIconWrapper {
    border: 1px solid #1c4b80;
    border-radius: 100%;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1c4b80;
    font-size: 20px;
    font-weight: 500;
}
.initial {
    line-height: 20px;
    position: relative;
}