.logo-container-icon {
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 66px);
    width: 132px;
    height: 35.9px;
    overflow: hidden;
}
.logo1 {
    position: absolute;
    top: calc(50% - 34px);
    left: calc(50% - 84px);
    width: 168px;
    height: 68px;
    overflow: hidden;
}
.logo {
    align-self: stretch;
    position: relative;
    height: 68px;
    overflow: hidden;
    flex-shrink: 0;
}
.logo-holder {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 14px;
}
.page-info-icon {
    width: 20px;
    position: relative;
    height: 20px;
}
.dashboard {
    position: relative;
    line-height: 20px;
    font-weight: 500;
}
.component-1 {
    align-self: stretch;
    background-color: #f0f4f5;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    gap: 8px;
    color: #1c4b80;
}
.component-2 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    gap: 8px;
}
.component-1-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.logo-holder-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 196px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid #e2e2e2;
    box-sizing: border-box;
    width: 196px;
    height: 780px;
    overflow: hidden;
    color: #666;
}
.welcome-back-sahil {
    position: absolute;
    top: calc(50% - 16px);
    left: 40px;
    letter-spacing: -0.04em;
    line-height: 32px;
}
.create-quiz1 {
    position: relative;
    line-height: 20px;
}
.keyboard-arrow-up-icon {
    width: 20px;
    position: relative;
    height: 20px;
    display: none;
}
.searchbar {
    backdrop-filter: blur(28px);
    border-radius: 100px;
    background-color: #1c4b80;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 24px 12px 28px;
    gap: 4px;
}
.s {
    width: 24px;
    position: relative;
    letter-spacing: 0.02em;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    flex-shrink: 0;
}
.s-wrapper {
    width: 44px;
    border-radius: 200px;
    background-color: #f0f4f5;
    border: 1px solid #1c4b80;
    box-sizing: border-box;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.down-icon {
    width: 16px;
    position: relative;
    height: 16px;
}
.frame-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    font-size: 20px;
    color: #1c4b80;
}
.searchbar-parent {
    position: absolute;
    top: 14px;
    right: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.navbar {
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
    width: 1244px;
    height: 72px;
    overflow: hidden;
    font-size: 20px;
}
.performance-dashboard {
    position: relative;
    line-height: 16px;
    font-weight: 500;
}
.performance-dashboard-wrapper {
    border-bottom: 2px solid #1c4b80;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 24px 16px 20px;
}
.frame-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 24px;
}
.edit-square-icon {
    width: 24px;
    position: relative;
    height: 24px;
}
.icon {
    width: 42px;
    border-radius: 6px;
    background-color: rgba(28, 75, 128, 0.08);
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.b {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.08em;
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;
    height: 24px;
    flex-shrink: 0;
}
.quizzes-created {
    position: relative;
    font-size: 10px;
    letter-spacing: 0.08em;
    line-height: 14px;
    text-transform: uppercase;
    color: #666;
}
.parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.icon-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.card {
    width: 212px;
    backdrop-filter: blur(20px);
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 12px;
}
.upcoming-quizzes {
    align-self: stretch;
    position: relative;
    font-size: 10px;
    letter-spacing: 0.08em;
    line-height: 14px;
    text-transform: uppercase;
    color: #666;
}
.card-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    font-size: 20px;
}
.frame-group {
    position: absolute;
    top: 24px;
    left: 0;
    width: 1212px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.container {
    position: absolute;
    top: 88px;
    left: 212px;
    border-radius: 16px;
    background-color: #fafafa;
    width: 1212px;
    height: 676px;
    overflow: hidden;
}
.rohan-trial {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 780px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #1c1c1f;
    font-family: 'DM Sans';
}

